/* variable */
:root{
	--smooky-white: #FEFFFC;
	--cream-color: #EDEFEB;
	--purple: #832B5B;
}

/* reset style */
*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 1010px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--cream-color);
}