:root {
    --primary-color: #082D3A;
}

.h2 {
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--primary-color);
}

.h3 {
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--primary-color);
}

.h4 {
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--primary-color);
}

.p {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--primary-color);
     
}

.container {
    width: 1150px;
    margin: 0 auto;
}