.body__bg {
    height: 1012px;
    width: 100%;
    background-color: #DCDCDD;
    position: relative;
}

.modal-window__wrapper {
    width: 560px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top: 109px;
    left: 1210px;
    z-index: 2;
    
}
.modal-window__position {
    width: 560px;
    height: 300px;
    position: relative;
}

.modal-window__inner {
    width: 536px;
    height: 266px;
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -268px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-window__title {
    width: 112px;
    height: 19px;
    margin: 0 auto;
    font-family: 'Halant';
    font-weight: 600;
    font-size: 14px;
    line-height: 136%;

}

.card__wrapper {
    width: 536px;
    height: 82px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(208, 195, 189, 0.6);
    position: relative;
}

.card__inner {
    width: 516px;
    height: 68px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -258px;
    display: flex;
    justify-content: space-between;
}

.card__control {
    width: 387px;
    height: 68px;
    display: flex;
    justify-content: space-between;
}

.card__img {
    width: 62px;
    height: 62px;
}

.card__text {
    width: 310px;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    font-family: Halant;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
}

.card__subtitle {
    width: 310px;
    height: 40px;
    font-family: Halant;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #4A5050;
}

.money-check__inner {
    position: relative;
    width: 90px;
    height: 24px;
}

.money-check__text {
    position: absolute;
    left: 50%;
    margin-left: -45px;
    top: 19px;
    width: 90px;
    height: 24px;
    text-align: end;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
}

.cards__margin {
    margin-top: 10px;
}

.footer-cart__inner {
    width: 516px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}


.total__inner {
    width: 158px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.footer-cart__total-text {
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.footer-cart__total-money {
    width: 102px;
    height: 24px;
    text-align: start;
    font-family: Ruda;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
}

.button-cart__wrapper {
    width: 132px;
    height: 40px;
    background-color: black;
}

.button-cart__button-text {
    font-family: Halant;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}

.header__wrapper {
    height: 91px;
    width: 100%;
    margin: 0 auto;
    position: relative; 
    
}

.header__inner {
    width: 1529px;
    height: 39px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top:27px;
    left: 50%;
    margin-left: -764px; /*стоит запомнить*/
}
.logo__wrapper {
    width: 89px;
    height: 30px;
    top:30px;
    left: 206px;
    margin-top: 3px;
}

.logo__link {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: black;   
}

.list__wrapper {
    width: 476px;
    height: 36px;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}

.list__item {
    color: black;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.45%;   
}

.list_link {
    color: black;
}

.list_link--active {
    font-weight: bold;
    border-bottom: 3px solid black;
}

.tools__wrapper {
    width: 209px;
    height: 39px;
    display: flex;
    justify-content: space-between;
}

.tools__money {
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    margin-top: 9px;
}

.cart__wrapper {
    width: 33px;
    height: 30px;
    margin-top: 6px;
    position: relative;
}


.cart__icon {
    width: 25px;
    height: 19,65px;
}

.cart__number {
    width: 16px;
    height: 16px;
    position: absolute;
    top:17px;
    left: 17px;
}

.cart__elipse {
    background-color: red;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
}

.cart__pr {
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 3px;
    left: 1px;
}

.user__icon {
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 6px;
}

.border {
    width: 1602px;
    height: 1px;
    background-color: black;
    margin: 0 auto;
}

.main-content__wrapper {
    position: relative;
}

.main-content__inner {
    width: 1162px;
    height: 832px;
    position: absolute;
    top: 46px;
    left: 50%;
    margin-left: -581px;
    display: flex;
    justify-content: space-between;

}

.photo {
    width: 596px;
    height: 832px;
}

.text__wrapper {
    width: 516px;
    height: 753px;
    margin-left: 50px;
    margin-top: 54px;
   
}
.text__title {
    width: 237px;
    height: 62px;
    font-family: 'Righteous'; 
    font-size: 64px;
    color: #1D2424;
    margin: 17px auto 0 auto;
    line-height: 79px;
}

.text__column {
    width: 516px;
    height: 216px;
    margin-top: 458px;
    
}

.category__title {
    font-family: 'Ruda';
    font-size: 24px;
    font-weight: 900;

}

.category__desc {
    font-family: 'Halant';
    font-size: 20px;
    font-weight: 400;
    margin-top: 7px;
}

.category__inner:nth-child(2) {
    margin-top: 22px;
}

.category__inner:nth-child(3) {
    margin-top: 22px;
}


.store-title__wrapper {
    z-index: 1;
    position: absolute;
    width: 791px;
    height: 347px;
    background-color: #3D6A66;
    top: 240px;
    left: 50%;
    margin-left: -395px;
    padding-left: 26px;
    padding-top: 26px;
}


.store-title__title {
    font-family: 'Ruda';
    font-weight: 900;
    font-size: 36px;
    color: #DCDCDD;
    line-height: 48px;
}

.store-title__border {
    width: 236px;
    height: 1px;
    background-color: #DCDCDD;
    margin-left: 52px;
    margin-top: 17px;
}

.store-title__desc {
    width: 631px;
    height: 76px;
    font-family: 'Halant';
    font-size: 18px;
    font-weight: 400;
    color: #DCDCDD;
    margin-top: 18px;
    line-height: 28px;
}

.button__we {
    margin-top: 29px;
}

.button__wrapper {
    width: 146px;
    height: 30px;
    border: 1px solid #D0C3BD;
    background-color: #3D6A66;

}

.button__text {
    font-family: 'Halant';
    font-size: 18px;
    font-weight: 500;
    color: #D0C3BD;
    

}

.footer__wrapper {
    width: 100%;
    height: 285px;
    background-color: #1D2424;
    position: relative;
}

.footer__inner {
    width: 1529px;
    height: 175px;
    /* border: 1px solid violet; */
    position: absolute;
    top: 53px;
    left: 50%;
    margin-left: -764.5px;
    display: flex;
    justify-content: space-between;
}

.footer__logotype {
    font-family: 'Righteous';
    font-size: 24px;
    color: #ECE0DA;
    margin-top: 7px;
}

.social__wrapper {
    width: 251px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 113px;
    

}

.socail__title {
    width: 66px;
    height: 17px;
    margin-top: 5px;
    font-family: 'Ruda';
    font-size: 18px;
    font-weight: 900;
    color: #ECE0DA;
}

.social__icon {
    width: 148px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    
}

.social__pin {
    width: 25px;
    height: 25px;
}

.social__in {
    width: 20px;
    height: 20px;
}

.social__be {
    width: 28px;
    height: 28px;
}

.social__tw {
    width: 30px;
    height: 30px;
}

.footer__column-2 {
    width: 123px;
    height: 170px;
    margin-top: 7px;

}

.footer__navigation {
    font-family: 'Ruda';
    font-size: 20px;
    font-weight: 900;
    color: #ECE0DA;
}

.footer__list {
    width: 123px;
    height: 114px;
    margin-top: 29px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.footer__link {
    font-family: 'Ruda';
    font-size: 17px;
    font-weight: 400;
    color: #ECE0DA; 
}

.footer__column-3 {
    width: 102px;
    height: 169px;
    margin-top: 7px;
}

.footer__products {
    font-family: 'Ruda';
    font-size: 20px;
    font-weight: 900;
    color: #ECE0DA;
}

.footer__products-list {
    width: 79px;
    height: 117px;
    margin-top: 25px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.footer__products-items {
    font-family: 'Ruda';
    font-size: 17px;
    font-weight: 400;
    color: #ECE0DA; 
}

.footer__products-items--tiny {
    font-family: 'Ruda';
    font-size: 14px;
    font-weight: 400;
    color: #ECE0DA;
    text-decoration: underline;
}

.footer__column-4 {
    width: 558px;
    height: 162px;
    margin: 9px;
}

.footer__desc {
    font-family: 'Ruda';
    font-size: 14px;
    font-weight: 400;
    color: #ECE0DA;
    width: 468px;
    height: 15px;
    margin: 0 auto;
}

.search__wrapper {
    width: 558px;
    height: 51px;
    margin: 28px auto 0 auto;
   
}

.search__input {
   width: 398px;
   height: 50px;
   background-color: #ECE0DA;
   font-family: 'Ruda';
   font-size: 18px;
   font-weight: 400;
   padding-left: 14px;
}

.search__button {
    width: 134px;
    height: 51px;
    border: 4px solid #ECE0DA;
    background-color: #1D2424;
    margin-left: 20px;
}

.search__button-value {
    font-family: 'Ruda';
    font-size: 20px;
    font-weight: 900;
    color: #ECE0DA;
}

.footer__created {
    width: 134px;
    height: 14px;
    font-family: 'Ruda';
    font-size: 13px;
    font-weight: 400;
    color: #ECE0DA;
    margin: 54px auto 0 auto;
}

